# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env
*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pyenv
.python-version

# VS Code and other IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MyPy and Pyre type checker
.mypy_cache/
.dmypy.json
.pyre/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Linux
*~

# Other system files
Thumbs.db
ehthumbs.db
Desktop.ini
